.nav-bar{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    z-index: 1;
    transition: width 0.15s, height 0.15s;
}
.nav-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 70px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 15px;
}
.nav-button:hover{
    background-color: lightgray;
}
.icon{
}
.icon-label{
    font-size: 10px;
}
.icon img{
    transition: height 0.15s;
}
@media (min-width: 1200px){
    .nav-bar{
        display: flex;
        flex-direction: column;
        top: 70px;
        left: 0;
        bottom: 0;
        width: 200px;
        align-items: start;
        justify-content: start;
        padding-left: 10px;
    }
    .nav-button{
        flex-direction: row;
        justify-content: center;
        width: 180px;
        padding-left: 20px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .icon{
        margin-top: ;
    }
    .icon img{
        height: 25px;
    }
    .icon-label{
        margin-left: 20px;
        flex: 1;
        font-size: 14px;
    }
    body{
        padding-left: 220px;
    }
}
@media (min-width: 600px) and (max-width: 1199px){
    .nav-bar{
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 80px;
        top: 70px;
        left: 0;
        bottom: 0;
        align-items: center;
        justify-content: start;
        z-index: 1;
    }
    body{
        padding-left: 80px;
    }
}
@media (max-width: 599px){
    .nav-bar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        height: 70px;
    }
    .nav-button{
        height: 40px;
        padding-bottom: 20px;
    }
    .icon{
        margin: 5px;
    }
}