/* Large and Extra Large */
.feed{
    /* position: relative; */
    padding-left: 20px;
    top: 64px;
    left: 240px;
}
.filters{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.chips{
    margin: 12px;
}
.chips-button{
    height: 36px;
    background-color: white;
    border: 0;
    font-size: 14px;
}
.featured{
    display: grid;
    padding: 20px;
    /* height: 500px; */
    max-height: 500px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
}
.featured .info{
    position: relative;
}
.info{
    padding: 10px;
}
.item1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.item2{
    grid-column: 3;
    grid-row: 1;
}
.item3{
    grid-column: 3;
    grid-row: 2;
}
.featured .thumbnail{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.featured-image{
    border-radius: 20px;
    width: 100%;
}
.overlay{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.medium-thumbnails, .artist-thumbnails, .wide-thumbnails{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.info{
}
.thumbnail-section{
    position: relative; 
}
.thumbnail{
}
.thumbnail-image{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10%;
}
.artist-image{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}
.wide-thumbnails{
    max-height: 250px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    column-gap: 2%;
}
.wide-thumbnails .info{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.wide-thumbnails .thumbnail-section{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wide-thumbnails .thumbnail{
    height: 100%;
    width: 100%;
}
.wide-thumbnails .thumbnail-image{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.overlay{
    position: absolute;
}

/* Medium and Expanded */
/* .feed{
    position: relative;
    top: 64px;
    left: 80px;
} */

/* Compact */
/* .feed{
    position: relative;
    top: 64px;
} */

/* TV */

/* Auto */

/* XR */

/* Watch */