@import "color/light.css";   
/* @import "color/dark.css"; */
body{
    font-family: Roboto, Arial;
    margin: 0;
    padding-left: 240px;
    transition: padding 0.2s;
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
    cursor: context-menu;
}
.logo-section{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
@media (min-width: 600px) and (max-width: 1200px){
    body{
        padding-left: 80px;
    }
}

@media (min-width: 1200px){
    body{
        padding-left: 240px;
    }
}

@media (max-width: 600px){
    body{
        padding-left: 0px;
    }
    .body{
        padding-top: 40%;
    }
    .logo-section{
        top: 10%;
        left: 50%;
        right: 50%;
    }
}
div::-webkit-scrollbar{
    display: none;
}